\pics
\pics\*
\replay\*
*.png
*.jpg
*.gif
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.m4v
*.mov
*.avi
*.wmv
\textures\* 
\skin\*
\sound\*
\repositories\*
\puzzles\*
\logs\*
*.exe
\api_output\*
\api_output\prompts\*
README.md.txt
cacert.pem
README.md.txt
error.log
config/system.conf
puzzles/Canon collection 
# WindBot runtime folder is mostly binary/local; track executor sources only.
WindBot/*
!WindBot/Executors/
!WindBot/Executors/**
WindBot/**/*.dll
WindBot/**/*.pdb
WindBot/**/obj/
tools\CardMaker\output\*